.menu {
	display: block;
	width: 100%;
}

.main-menu.visible {
	transform: translate3d(-254px, 0, 0);
	-ms-transform: translate3d(-254px, 0, 0);
	-webkit-transform: translate3d(-254px, 0, 0);
	-o-transform: translate3d(-254px, 0, 0);
	-moz-transform: translate3d(-254px, 0, 0);
}

.main-menu {
	position: fixed;
	z-index: 1;
	top: 0;
	padding-top: 50px;
	box-shadow: 4px 3px 20px 2px #929292;
	background-color: white;
	right: -254px;
	height: 100%;
	width: 250px;
	-webkit-transition: -webkit-transform ease 250ms;
	-moz-transition: -webkit-transform ease 250ms;
	-ms-transition: -webkit-transform ease 250ms;
	-o-transition: -webkit-transform ease 250ms;
	transition: -webkit-transform ease 250ms;
	-webkit-transition: transform ease 250ms;
	-moz-transition: transform ease 250ms;
	-ms-transition: transform ease 250ms;
	-o-transition: transform ease 250ms;
	transition: transform ease 250ms;
}